<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-feature
        android:name="android.hardware.sensor.magnetic_field_uncalibrated"
        android:required="true" />

    <application>
        <service
            android:name="com.kayser.areascan.sensor.MagnetometerService"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>
